h1 {
    font-family: "Montserrat", sans-serif;
    font-size: 1.5em;
}

.card-title,
.card-text {
    font-family: "Open Sans", sans-serif;
}

.card-title {
    font-size: 1.2em;
}

.card-text {
    font-size: 1em;
}